misc/Carte.odt
players.json
misc/*
/misc/
/.idea/
/__pycache__/
/venv/
/venv/*
/venv
/taskList/*
/assets/img/qrcode.png
/whatsapp/api/node_modules/*
/whatsapp/api/node_modules
/whatsapp/api/.idea
/whatsapp/api/.wwebjs_auth/*
/whatsapp/api/.wwebjs_auth
/whatsapp/api/.wwebjs_cache
**/.wwebjs_auth
**/.wwebjs_cache
config.json

# Ignore the .DS_Store mac file
.DS_Store
**/.DS_Store
._.DS_Store
**/._.DS_Store
.DS_Store?
.DS_Store??

# Ignore all the __pycache__ files
__pycache__/
**/__pycache__
**/__pycache__/
**/__pycache__/*
*/__pycache__/

/whatsapp/api/.wwebjs_auth/
/whatsapp/api/.idea/
/whatsapp/.wwebjs_auth/
/whatsapp/.wwebjs_cache/
*/.idea/
