<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joueur - Among Us Real</title>
    <link rel="icon" href="../static/images/amongus.ico">
    <link rel="stylesheet" href="../static/css/joueur.css">
    <link rel="stylesheet" href="../static/css/modal.css">
</head>

<body {% if player.dead %} class="dead" {% endif %}>

<h1 class="center"> Joueur {{(code_joueur)}}, {{player_role}}</h1>
{% if player.role == "impostor"%}
<button class="ask button-action" data-modal="Kill" tabindex=0>Tuer joueur</button>
{% endif %}
<div class="background-button">
    <button class="button ask" data-modal="Report" tabindex=0>
        Reporter un corps
    </button>
</div>
{% if player.role == "scientist"%}
<form method="get" action="/api/see_deads">
    <button tabindex=0 class="button-action" {% if is_max_asks %} disabled {% endif %}>voir les morts</button>
</form>
{% endif %}


{% for id, task in task_list %}
<div class="task-card">
    {% if task.done %}
    <label class="container">
        <input type="checkbox" checked="checked" disabled>
        <div class="checkmark"></div>
    </label>
    {% endif %}
    <p style="font-size: 24px">{{ (task) }}</p>
    <button class="info-btn ask" data-modal="{{id}}">
        <img height="17.5" width="15" xmlns="http://www.w3.org/2000/svg" class="icon"
             src="../static/images/icon-info.svg">
    </button>
    {% if task.type == "basic" and player.role != "impostor" %}
    <form action="/api/done_task" method="post">
        <input type="hidden" value="{{id}}" style="display: none" name="task_id">
        <button data-taskname="{{task.name}}" class="direct-valid button-task">Effectuer la tâche</button>
    </form>
    {% elif task.type == "validate_basic" and player.role != "impostor"  %}
    <button class="ask button-task" data-modal="validate-{{id}}" tabindex=0>Valider la tâche</button>
    {% elif task.type == "activate_basic" and player.role != "impostor"  %}
    {% if task.active %}
    <form action="/api/done_task" method="post">
        <input type="hidden" value="{{id}}" style="display: none" name="task_id">
        <button data-taskname="{{task.name}}" class="direct-valid button-task">Effectuer la tâche</button>
    </form>
    {% else %}
    <button class="ask button-task" data-modal="activate-{{id}}" tabindex=0>Activer la tâche</button>
    {% endif %}
    {% elif task.type == "activ_valid" and player.role != "impostor" %}
    {% if task.active %}
    <button class="ask button-task" data-modal="validate-{{id}}" tabindex=0>Valider la tâche</button>
    {% else %}
    <button class="ask button-task" data-modal="activate-{{id}}" tabindex=0>Activer la tâche</button>
    {% endif %}
    {% endif %}
</div>

<!-- Modal Taches -->
<div id="{{id}}" class="modal">
    <div class="modal-content">
        <div class="contact-form">
            <a class="close" tabindex="0">&times;</a>
            <h2>{{ task.name }}</h2>
            <p>{{ task.description }}</p>
            <h3>Lieu</h3>
            <p>{{ task.location }}</p>
            <h3>Nombre d'étapes</h3>
            <p>{{ task.steps }}</p>
            {% if task.active %}
            <h3>Message d'activation</h3>
            <p>{{ task.message }}</p>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal Taches -->

{% if task.type != "basic" and player.role != "impostor" %}
<div id="validate-{{id}}" class="modal">
    <div class="modal-content">
        <div class="contact-form">
            <a class="close" tabindex="0">&times;</a>
            <h2>Valider la tâche</h2>
            <form action="/api/done_task" method="post">
                <input placeholder="Mot clé de validation" type="text" name="keyword" class="input" required autocomplete="off">
                <input type="submit" value="Valider">
                <input type="hidden" value="{{id}}" style="display: none" name="task_id">
            </form>
        </div>
    </div>
</div>
{% endif %}


<div id="activate-{{id}}" class="modal">
    <div class="modal-content">
        <div class="contact-form">
            <a class="close" tabindex="0">&times;</a>
            <h2>Activer la tâche</h2>
            <form action="/api/activ_task" method="post">
                <input placeholder="Mot clé d'activation " type="text" name="keyword" class="input" required autocomplete="off">
                <input type="hidden" value="{{id}}" style="display: none" name="task_id">
            </form>
        </div>
    </div>
</div>

{% endfor %}


<script src="../static/js/main.js"></script>


<!-- Modal -->
<div id="Kill" class="modal">
    <div class="modal-content">
        <div class="contact-form">
            <a class="close" tabindex="0">&times;</a>
            <h2>Qui voulez-vous tuer ?</h2>
            <form action="/api/kill" method="post">
                <input placeholder="La personne à tuer" type="number" name="killed_id" id="killed_id" class="input"
                       min="0">
                <input type="submit">
            </form>
        </div>
    </div>
</div>

<div id="Report" class="modal">
    <div class="modal-content">
        <div class="contact-form">
            <a class="close" tabindex="0">&times;</a>
            <h2>Quelle personne a été tuée ?</h2>
            <form action="/api/report_dead" method="post">
                <input placeholder="Reporter le corps du joueur" type="number" name="dead_player_id" id="dead_player_id"
                       class="input" min="0">
            </form>
        </div>
    </div>
</div>


<div id="popup" class="modal" {% if popup %} style="display: block" {% endif %}>
    <div class="modal-content">
        <div class="contact-form">
            <a class="close" tabindex="0">&times;</a>
            <h2 id="popup-title">{%if popup %}{{popup['title']}}{% endif %}</h2>
            <p id="popup-content">{%if popup %}{{popup['message']}}{% endif %}</p>
        </div>
    </div>
</div>


{% if sound %}
<script>
    new Audio('../static/sounds/{{sound}}').play();
</script>
{% endif %}

<script src="../static/js/joueur.js"></script>
</body>
</html>
