<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page joueur</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body class="dead">



<h1 class="center"></h1>

<h1> Code joueur: {{(code_joueur)}}</h1>

<button2 class="ask" data-modal="Kill" tabindex=0>Tuer joueur</button2>

<button2 class="ask" data-modal="Report" tabindex=0>Reporter un corp</button2>


{% for task in task_list %}
<div class="task-card">
    <p style="font-size: 24px">{{ (task) }}</p>
    {% if task.type == "basic" %}
        <button1 data-taskname="{{task.name}}" class="direct-valid">Effectuer la tâche</button1>
    {% elif task.type == "validate_basic" %}
        <button1 class="ask" data-modal="Tache_validate" tabindex=0>Valider la tâche</button1>
    {% elif task.type == "activate_basic" %}
        {% if task.active %}
            <button1 data-taskname="{{task.name}}" class="direct-valid">Effectuer la tâche</button1>
        {% else %}
            <button1 class="ask" data-modal="Tache_activate" tabindex=0>Activer la tâche</button1>
        {% endif %}
    {% elif task.type == "activ_valid" %}
        {% if task.active %}
            <button1 class="ask" data-modal="Tache_validate" tabindex=0>Valider la tâche</button1>
        {% else %}
            <button1 class="ask" data-modal="Tache_activate" tabindex=0>Activer la tâche</button1>
        {% endif %}
    {% endif %}
</div>
{% endfor %}




<script src="../static/js/main.js"></script>


<!-- Modal -->
<div id="Kill" class="modal">
    <div class="modal-content">
        <div class="contact-form">
            <a class="close" tabindex="0">&times;</a>
            <h2>Qui voulez-vous tuer ?</h2>
            <input type="text" placeholder="La personne à tuer">
        </div>
    </div>
</div>

<div id="Report" class="modal">
    <div class="modal-content">
        <div class="contact-form">
            <a class="close" tabindex="0">&times;</a>
            <h2>Quel personne a été tuée ?</h2>
            <input type="text" placeholder="Reporter le corp du joueur">
        </div>
    </div>
</div>


<!-- Modal Taches -->

<div id="Tache_validate" class="modal">
    <div class="modal-content">
        <div class="contact-form">
            <a class="close" tabindex="0">&times;</a>
            <h2>Valider la tache</h2>
            <input type="text" placeholder="Code de validation">
            <input type="submit" value="Valider">
        </div>
    </div>
</div>


<div id="Tache_activate" class="modal">
    <div class="modal-content">
        <div class="contact-form">
            <a class="close" tabindex="0">&times;</a>
            <h2>Activer la tache</h2>
            <input type="text" placeholder="Mot clé d'activation ">
        </div>
    </div>
</div>


</body>
</html>
