<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote - Among Us Real</title>
    <link rel="icon" href="../static/images/amongus.ico">
    <link rel="stylesheet" href="../static/css/meeting.css">
    <link rel="stylesheet" href="../static/css/modal.css">
</head>

<body>
<form class="form" action="/api/vote" method="post">
    <h2>VOTEZ POUR UN JOUEUR À ÉLIMINER</h2>
    {% if state == "coming" %}
    <h3 id="see-password">Votre mot de passe: {{password}}</h3>
    {% endif %}
    {%for joueur in players%}
    <div class="inputGroup">
        <input id="{{joueur.id}}"
               name="vote" value="{{joueur.id}}"
               type="radio"
               data-player-dead="{{joueur.dead}}"
               required
               {% if state !="vote" or has_voted or player.dead%}
                disabled
               {% elif joueur.dead %}
                disabled
               {% endif %}
        />
        <label for="{{joueur.id}}">{{joueur.nickname}}</label>
    </div>
    {%endfor%}
    <div class="inputGroup">
        <input id="skip"
               name="vote"
               value="skip"
               type="radio"
               required
               {% if state !="vote" or has_voted or player.dead %}
                disabled
               {% endif %}/>
        <label for="skip">Passer le vote</label>
    </div>
    <button type="submit"
            id="submit-button"
            {% if state !="vote" or has_voted or player.dead  %}
             disabled
            {% endif %}>
        <span>Voter</span>
    </button>
</form>


<div id="popup" class="modal" {% if popup %} style="display: block" {% endif %}>
    <div class="modal-content">
        <div class="contact-form">
            <a class="close" tabindex="0">&times;</a>
            <h2 id="popup-title">{%if popup %}{{popup['title']}}{% endif %}</h2>
            <p id="popup-content">{%if popup %}{{popup['message']}}{% endif %}</p>
        </div>
    </div>
</div>

{% if sound %}
<script>
    new Audio('../static/sounds/{{sound}}').play();
</script>
{% endif %}

<script src="../static/js/meeting.js"></script>
<script src="../static/js/main.js"></script>

</body>
</html>