<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page joueur</title>
    <link rel="stylesheet" href="../static/css/style-error.css">

</head>

<body>
<center>
  <marquee  behavior="scroll" direction="right">
          <img src="../static/images/among-us-jaune.png">
    </marquee>
<h1>
  <div class="loader">
    <span class="L1">J</span>
    <span class="L2">E</span>
    <span class="L3">U</span>
    <span class="L4">-</span>
    <span class="L5">E</span>
    <span class="L6">N</span>
  </div>
  <div class="loader">
    <span class="L1">P</span>
    <span class="L2">A</span>
    <span class="L3">U</span>
    <span class="L4">S</span>
    <span class="L5">E</span>

  </div>
  <div class="loader">
    <span class="L1">V</span>
    <span class="L2">E</span>
    <span class="L3">U</span>
    <span class="L4">I</span>
    <span class="L5">L</span>
    <span class="L6">L</span>
    <span class="L7">E</span>
    <span class="L8">Z</span>
  </div>
  <div class="loader">
    <span class="L1">P</span>
    <span class="L2">A</span>
    <span class="L3">T</span>
    <span class="L4">I</span>
    <span class="L5">E</span>
    <span class="L6">N</span>
    <span class="L7">T</span>
    <span class="L8">E</span>
    <span class="L9">R</span>
  </div>
</h1>
<h2>
  raison de la pause : {{message}}
</h2>
</center>


{% if error==false %}

{% endif %}


</body>
</html>
