<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pause - Among Us Real</title>
    <link rel="icon" href="../static/images/amongus.ico">
    <link rel="stylesheet" href="../static/css/pause.css">

</head>

<body>

<div class="center">
<img class="moving-text" src="../static/images/among-us-jaune.png" alt="Image d'un fantôme Among Us jaune">
</div>

<div class="loader center">
    <h1>
        <span class="L1">J</span>
        <span class="L2">E</span>
        <span class="L3">U</span>
        <span class="L4">-</span>
        <span class="L5">E</span>
        <span class="L6">N</span>
    </h1>
</div>
<div class="loader center">
    <h1>
        <span class="L1">P</span>
        <span class="L2">A</span>
        <span class="L3">U</span>
        <span class="L4">S</span>
        <span class="L5">E</span>
    </h1>
</div>
<div class="loader center">
    <h1>
        <span class="L1">V</span>
        <span class="L2">E</span>
        <span class="L3">U</span>
        <span class="L4">I</span>
        <span class="L5">L</span>
        <span class="L6">L</span>
        <span class="L7">E</span>
        <span class="L8">Z</span>
    </h1>
</div>
<div class="loader center">
    <h1>
        <span class="L1">P</span>
        <span class="L2">A</span>
        <span class="L3">T</span>
        <span class="L4">I</span>
        <span class="L5">E</span>
        <span class="L6">N</span>
        <span class="L7">T</span>
        <span class="L8">E</span>
        <span class="L9">R</span>
    </h1>
</div>

<h2 class="center">
  <span class="txt_erreur">raison de la pause : {{message}}</span>
</h2>

</body>
</html>
