.modal {
  display: none;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 50px auto;
  border: 1px solid #999;
  width: 60%;
  background-color: #fefefe;
  border-radius: 5px;
  padding: 10px 20px 20px;
}

.modal-content h2 {
  text-align: center;
  font-size: 30px;
  color: #022b3a;
}

.close {
  color: #5c5b5b;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body{
  background-color:#B5F38D;
}

.task-card{
  padding: 10px;
  background-color: #8cff41;
  margin: 20px
}

.dead {
  background-color:#f56767 !important;
}




button1 {
  padding: 10px 40px;
  font-size: 9px;
  background-color: #008542;
  color: #fff;
  text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
  z-index: 1;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: unset;
  padding: .8rem 1.5rem;
  text-decoration: none;
  font-weight: 900;
  transition: all 0.7s cubic-bezier(0,.8,.26,.99);
 }
 
 button1:before {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  transition: .7s cubic-bezier(0,.8,.26,.99);
  z-index: -1;
  background-color: #008542!important;
  box-shadow: 0 -4px rgb(21 108 0 / 50%) inset, 
    0 4px rgb(100 253 31 / 99%) inset, 
    -4px 0 rgb(100 253 31 / 50%) inset, 
    4px 0 rgb(21 108 0 / 50%) inset;
 }
 
 button1:after {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
  transition: .7s cubic-bezier(0,.8,.26,.99);
 }
 
 button1:hover:before {
  box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 
    0 4px rgb(255 255 255 / 20%) inset, 
    -4px 0 rgb(255 255 255 / 20%) inset, 
    4px 0 rgb(0 0 0 / 50%) inset;
 }
 
 button1:hover:after {
  box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
 }
 
 button1:active {
  transform: translateY(4px);
 }
 
 button1:active:after {
  box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
 }


 button2 {
  --bg: #e74c3c;
  --text-color: rgb(0, 0, 0);
  position: relative;
  width: 150px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.4s;
  border-radius: 5px;
  opacity: 1;
  letter-spacing: 1px;
  box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
}

button2:hover {
  opacity: 1;
}

button2:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
}